*{
	padding:0;
	margin:0;
}

::-webkit-scrollbar{
	display: none;
}
html,body{
	height:100%;
}
.wrapper{
	width:6.5rem;
	height:10rem;
	margin:0 auto;
	background-color:rgba(100,112,154,0.2);
	border-radius: 10px;
}
p{
	text-align: center;
	background-color:rgba(226,190,170,0.8);
	height:40px;
	line-height: 40px;
	font-size: 20px;
	color:#fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;



}

.content-box{
	overflow-y:auto;
	width:100%;
	/* height: calc(100% - 90px) */
}

.avitor{
	 /*float:left;*/

	width:30px;
	height:30px;
	border-radius: 50%;
	/*border: 1px solid black;*/
	display: inline-block;
	

}
.mine{
	float:right;
	margin:10px;
	width: calc(100% - 10px);
	 
}

.mine .avitor{
	float:right;

	background-image: url("./4.png");
}
.mine .text{
	 float:right;
	background-color: rgba(112,182,163,0.5);
	margin-right: 15px;
	position: relative;
	 
}
.mine .text::after{
	content:"";
	width:0px;
	height:0px;
	display: inline-block;
	position: absolute;
	right:-20px;
	top:9px;
	border-width:20px;
	border:10px solid transparent;
	border-left-color: rgba(112,182,163,0.5);
	 
}
.robot{
	float:left;
	margin:10px;
	 
 
}

.robot .text{
	float:right;
	background-color: rgba(81,173,93,0.5);
	margin-left: 15px;
	position: relative;
	
	 
	

	
}
.robot .text::after{
	content:"";
	width:0px;
	height:0px;
	display: inline-block;
	border:10px solid transparent;
	border-right-color:rgba(81,173,93,0.5);
	position: absolute;
	left:-20px;
	top:9px; 
}

.robot .avitor{
	background-image: url("./2.png");
}
.mine .avitor,
.robot .avitor{
	background-size: 100% 100%;
	vertical-align:top;
}


.text{
	max-width:4rem;
	border:1px solid #ddd;
	display: inline-block;
	padding:10px;
	border-radius: 10px;
	font-size: 16px;
	 
	 

}
.input-box{
	height:70px;
	/* width:rem; */
	background-color:rgba(191,155,255,0.5);
	line-height: 50px;
	text-align: center;
	overflow: hidden;

}
#inp{
	padding-left: 4px;
	font-size: 16px;
	width:60%;
	height:60%;
	border: 1px solid #ccc;
	border-radius: 6px;

	margin-bottom:10px;

}

#inp{
	padding-left: 4px;
	font-size: 16px;
	width:60%;
	height:60%;
	border: 1px solid #ccc;
	border-radius: 6px;
	/*margin:10px auto;*/

}
#submit{
	border-radius: 5px;
	font-size: 16px;
	padding:3px 12px;
	margin:0 5px;
	background-color:#FFFFFFFF;
	outline: none;
	border:none;
	font-weight:bolder;
	color:##404040FF;
	box-shadow: 0px 1px 3px 1px #404040FF;
	transition: all 0.5 linear;
}

input::placeholder{
	color:#A0A0A0FF;
	font-size: 13px;

}
#submit:hover{
	transform:scale(1.1);
	box-shadow: 0px 3px 5px 1px #404040FF;


}


